---
import Layout from '../components/Layout.astro';
import ImageCarousel from '../components/ImageCarousel.astro';
import VideoCarousel from '../components/VideoCarousel.astro';


---

<Layout title="Tee Ball Training Program">
	<main>
    <div id="content">
      <div class="header">
        <h1>Welcome!</h1>
        <div class="logo">
          <img src="/logo.png">
        </div>
          <ImageCarousel />
          <div class="bttns">
            <a href="/program.pdf" class="bttn primary">Full 12-week Program!</a>
          </div>
        <h2 class="carousel-subheading">Featured Training Videos</h2>
        <VideoCarousel />
      </div>
			<div class="resource-list">
        <ul>
          <li>
            <a href="https://www.icrc.net/parks/seven-oaks-park/athletics/youth-sports">ICRC Youth Athletics Page</a>
					</li>
          <li>
            <a href="https://www.littleleague.org/university/articles/little-league-tee-ball-program/">Little League Program</a>
          </li>
        </ul>
      </div>
    </div>
	</main>
</Layout>