@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --main-family: 'Poppins', sans-serif;
  --color-bg: linear-gradient(180deg, #FFFFFF 0%, #AEC6DC 100%);
  --top-right-blur-1: #20C6B7;
  --top-right-blur-2: #4D9ABF;
  --bttm-left-blur-1: #FF5C02;
  --bttm-left-blur-2: #FFCDB1;
}

html {
  background: #20C6B7;
  font-family: var(--main-family);
  min-height: 100%;
}

body {
  background: #20C6B7;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
}

#background {
  width: 100%;
  max-width: 1728px;
  height: auto;
}

#content {
  width: 100%;
  max-width: 1200px; /* Set a max-width for large screens */
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.header h1 {
  font-size: 6em;
  font-weight: 700; /* Makes the font bold */
  color: #FF5C02;
  text-shadow: 15px 15px 15px #4D9ABF; /* A subtle shadow for depth */
  margin: 20px 0; /* Adds space above and below the header */
  padding: 10px 0; /* Adds space inside the element, above and below the text */
  letter-spacing: 1px; /* Adds space between each letter */
  text-align: center; /* Centers the text */
  font-family: 'Poppins', sans-serif; /* Optional if you've already defined it globally */
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.header h1, .header h2 {
  margin: 20px 0;
}

.header .logo img {
  max-width: 100%;
  height: auto;
}

.carousel, .video-carousel {
  position: relative;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.carousel-images, .carousel-videos, .carousel-image, .carousel-video {
  width: 100%;
}

.carousel-image, .carousel-video {
  display: none;
  object-fit: cover; /* Ensures the images/videos cover the area without stretching */
}

.carousel-image.active, .carousel-video.active {
  display: block;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  z-index: 100;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.bttns {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.bttn {
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.bttn.primary {
  background: #21A69A;
  color: white;
  border: 2px solid #21A69A;
}

.bttn.primary:hover {
  background: #21A69A;
  border-color: #21A69A;
}

.bttn.secondary:hover {
  background: #093C4F;
  color: white;
}

.resource-list {
  font-family: Helvetica, Arial, sans-serif;
  font-size: larger;
  text-align: center;
  margin-top: 30px;
}

.resource-list ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.resource-list li {
  padding: 10px;
}

footer {
  margin-top: 50px;
  text-align: center;
}

footer img {
  max-width: 100%;
  height: auto;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .header h2 {
    width: 90%;
    padding: 5%;
  }

  .carousel, .video-carousel {
    max-width: 90%;
  }

  .bttns {
    flex-direction: column;
  }

  .bttn {
    width: 100%;
    margin: 10px 0;
  }
}

@media (max-width: 600px) {
  #content {
    padding: 10px;
  }

  .header .logo img {
    max-width: 80%;
    margin: 0 auto; /* Centers the logo */
  }

  .resource-list ul {
    flex-direction: column;
  }

  .header h1 {
    font-size: 4em; /* Even smaller font size */
    text-shadow: 5px 5px 5px #4D9ABF; /* Even smaller shadow */
  }
}
@media (max-width: 480px) {
  .header h1 {
    font-size: 3em; /* Smallest font size for very small screens */
    text-shadow: 3px 3px 3px #4D9ABF; /* Smallest shadow */
    padding: 5px 0; /* Adjust padding */
    margin: 10px 0; /* Adjust margin */
  }
}