---
// VideoCarousel.astro
const videos = [
    'https://www.youtube.com/embed/y3vKN7lzDXE?si=oBcMulzRrv4US0FN',
    'https://www.youtube.com/embed/RXZ83JeKXI4?si=3DSz-EtcsT7Daz_7',
    'https://www.youtube.com/embed/-YDEFzeMeLU?si=mNjXz-W9QqrZiB8E',
    'https://www.youtube.com/embed/UQ1ckleCg6w?si=EmjOkOk7IAHQ-MAY',
    'https://www.youtube.com/embed/VGjhkL6Kcjo?si=Ysrg-TgiYniqeEQL',
    'https://www.youtube.com/embed/XWlk9TPIrBU?si=1oHSdV9JL_b_mt8Z',
    'https://www.youtube.com/embed/GL8OvE03Krk?si=Wuv5pwL1NAcspGNr'
];

let activeIndex = 0;

function slide(direction) {
    activeIndex = (activeIndex + direction + videos.length) % videos.length;
}
---


<div class="video-carousel">
    <div class="carousel-videos">
        {videos.map((src, index) => (
            <iframe class={`carousel-video ${index === activeIndex ? 'active' : ''}`} width="560" height="315" src={src} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        ))}
    </div>
    <button class="carousel-button prev" onclick="slide(-1)">&#10094;</button>
    <button class="carousel-button next" onclick="slide(1)">&#10095;</button>

</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const images = document.querySelectorAll('.carousel-video');
        let activeIndex = 0;
    
        function showSlide(index) {
            images.forEach(img => img.classList.remove('active'));
            images[index].classList.add('active');
        }
    
        function slide(direction) {
            activeIndex = (activeIndex + direction + images.length) % images.length;
            showSlide(activeIndex);
        }
    
        document.querySelector('.carousel-button.prev').addEventListener('click', () => slide(-1));
        document.querySelector('.carousel-button.next').addEventListener('click', () => slide(1));
    });
    </script>
